@model WebApplication7.Models.DEVELOPER

@{
    ViewBag.Title = "Delete";
}


<div class="del border border-success">
    <div>
        <h5 style="color:red">Are you sure you want to delete this?</h5>
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            First Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FNAME)
        </dd>

        <dt>
            Last Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LNAME)
        </dd>

        <dt>
            Phone Number:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHONE)
        </dd>

        <dt>
            Email:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            project title:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Title)
        </dd>

        <dt>
            advisor name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADVISOR.AFNAME)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
