@model WebApplication7.Models.User

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>signup</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!--client validaion links-->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <!-- Favicons -->
    <link href="~/assets/img/favicon1.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon1.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin - v2.4.1
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <main>
        <div class="container">

            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                            <div class="d-flex justify-content-center py-4">
                                <a href="index.html" class="logo d-flex align-items-center w-auto">
                                    <img src="assets/img/logo.png" alt="">
                                    <span class="d-none d-lg-block">sign up</span>
                                </a>
                            </div><!-- End Logo -->

                            <div class="card mb-3">

                                <div class="card-body">

                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                                        <p class="text-center small">Enter your personal details to create account</p>

                                        <div style="color:red">
                                            @TempData["register"]

                                        </div>
                                    </div>

                                    @using (Html.BeginForm("create", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {

                                        @Html.AntiForgeryToken()
                                        <div class="col-12">

                                            <label for="yourEmail" class="form-label">Your Email</label>

                                            @Html.TextBoxFor(model => model.email, new { @class = "form-control", type = "email", id = "yourEmail" })
                                            <div class="text-danger"> @Html.ValidationMessageFor(Model => Model.email)  </div>
                                            <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                                        </div>



                                        <div class="col-12">
                                            <label for="yourPassword" class="form-label">Password</label>
                                            @Html.TextBoxFor(model => model.password, new { @class = "form-control", type = "password", id = "yourpassword" })
                                            <div class="text-danger">@Html.ValidationMessageFor(Model => Model.password)  </div>
                                            <div class="invalid-feedback">Please enter your password!</div>
                                        </div>

                                        <div class="col-12">
                                            <label for="yourUsername" class="form-label">Role</label>
                                            <div class="input-group has-validation">
                                                @Html.DropDownList("Role", new List<SelectListItem>
                                            { new SelectListItem { Text= "manager", Value= "manager"  },
                                             new SelectListItem  {Text="advisor", Value="advisor" },
                                              new SelectListItem {Text="developer", Value="developer" }
                                                                   })


                                                <div class="text-danger">@Html.ValidationMessageFor(Model => Model.role)  </div>

                                                <div class="invalid-feedback">Please choose a role .</div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <label for="yourPassword" class="form-label">profile</label>
                                            <input type="file" name="ImageFile" />
                                            <div class="text-danger">@Html.ValidationMessageFor(Model => Model.profile)  </div>
                                            <div class="invalid-feedback">please select profile !</div>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-primary w-100" type="submit">Create Account</button>
                                        </div>
                                        <span style="color:green">@Html.Raw(ViewBag.Message)</span>
                                        <div class="col-12">
                                            <p class="small mb-0">Already have an account? <a href="~/users/login">Log in</a></p>
                                        </div>
                                    }

                                </div>
                            </div>

                            <div class="credits">
                                <!-- All the links in the footer should remain intact. -->
                                <!-- You can delete the links only if you purchased the pro version. -->
                                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                             
                            </div>

                        </div>
                    </div>
                </div>

            </section>

        </div>
    </main><!-- End #main -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/chart.js/chart.min.js"></script>
    <script src="~/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/assets/vendor/quill/quill.min.js"></script>
    <script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>

</body>

</html>


