@model IEnumerable<WebApplication7.Models.User>


@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<center style="margin-top:10px">User list</center>
<p>
    @Html.ActionLink("Regester New", "Create")
</p>
<table class="table table-striped border border-success" style="width:95%; margin-left:15px">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.profile)
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.role)
            </td>
            <td>

                @Session["status"].ToString();
            </td>
            <td>
                @if (item.profile == null)
                {
                    <text> ---- </text>
                }
                else
                {
                    <img src="@Url.Content(item.profile)" alt="" width="50" height="50" />
                }


            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>

